<main class="paper-image species-form-bg-size">

  <%= render partial: "partials/error_messages", locals: { model: species } %>
  
  <div class="form-container">
    <%= form_for species do |f| %>

      <div class="form-header">
        <h1><%= action %> Species</h1>
      </div>

      <div class="form-input-container">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-input" %>
      </div>

      <div class="form-input-container">
        <%= f.label :common_name %>
        <%= f.text_field :common_name, class: "form-input" %>
      </div>
      
      <div class="form-input-container">
        <%= f.label :image_url %>
        <%= f.text_field :image_url, class: "form-input" %>
      </div>

      <div class="form-input-container">
        <%= f.label :conservation_status %>
        <%= f.select :conservation_status, options_for_select(
          ["Extinct", "Extinct in the Wild", "Critically Endangered", "Endangered", "Vulnerable",
          "Near Threatened", "Conservation Dependent", "Least Concern", "Data Deficient", "Not Evaluated"]),
          {}, {class: "form-input form-select"} %>
      </div>

      <div class="form-input-container">
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-input" %>
      </div>

      <div class="form-input-container">
        <%= render partial: 'partials/form_submit', locals: {f: f} %>
      </div>
    <% end %>
  </div>
</main>