<h2><%= action %> Species</h2>

<%= form_for species do |f| %>

  <% if species.errors.any? %>
    <div id="error_message">
      <h2>
        <%= pluralize(species.errors.count, "error") %> prohibited this species from being saved:
      </h2>

      <ul>
      <% species.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :common_name %>
    <%= f.text_field :common_name %>
  </div>
  
  <div>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>

  <div>
    <%= f.label :conservation_status %>
    <%= f.select :conservation_status, options_for_select(
      ["Extinct", "Extinct in the Wild", "Critically Endangered", "Endangered", "Vulnerable",
       "Near Threatened", "Conservation Dependent", "Least Concern", "Data Deficient", "Not Evaluated"]) %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <%= f.submit %>
<% end %>