<h1><%= @species.name %></h1>
<h2><%= @species.common_name %></h2>

<img src="<%= @species.image_url %>" alt="">

<h2>Conservation Status: <%= @species.conservation_status %></h2>
<h3><%= @species.description %></h3>
 
<h2>Donation Total: <%= @species.donation_total %></h2>

<h2><%= link_to  "Donate", new_species_donation_path(@species) %></h2>