<%= render partial: 'partials/flash_messages' %>

<main class="wavy-image species-bg-size">
  <div class="show-container">

    <div class="show-header">
      <h1><%= @species.name %></h1>
    </div>  

    <div class="show-sub-container">
      <h2><%= @species.common_name if @species.common_name %></h2>
    </div>

    <img src="<%= @species.image_url %>" alt="">

    <div class="show-sub-container">
      <h2>Conservation Status: <%= @species.conservation_status %></h2>
    </div>

    <div class="show-sub-container">
      <h3><%= @species.description %></h3>
    </div>
    
    <div class="show-sub-container">
      <h2>Donation Total: <%= @species.donation_total %></h2>
    </div>

    <div class="show-link-container">
      <%= link_to  "Donate", new_species_donation_path(@species), class: "button" %>
      <%= link_to  "All Donations", species_donations_path(@species), class: "button button3" %>
      <%= link_to  "Top Donor", species_top_donor_path(@species), class: "button button2" %>

      <% if is_admin %>
        <%= link_to  "Edit Species", edit_species_path(@species), class: "button edit" %>
        <%= link_to  "Delete Species", species_path(@species), method: :delete, class: "button delete" %>
      <% end %>
    </div>
  </div>
</main>