<header>
  <% if on_welcome_page %>

    <nav class="navbar-single">
      <ul>
        <li><%= link_to  "WCS.ORG", "#", class: "nav-link" %></li>
        <li><%= link_to  "BRONX ZOO", "#", class: "nav-link" %></li>
        <li><%= link_to  "TREETOP ADVENTURE", "#", class: "nav-link" %>
        <li><%= link_to  "CENTRAL PARK ZOO", root_path, class: "nav-link" %></a></li>
        <li><%= link_to  "NEW YORK AQUARIUM", "#", class: "nav-link" %></li>
        <li><%= link_to  "PROSPECT PARK ZOO", "#", class: "nav-link" %></li>
        <li><%= link_to  "QUEENS ZOO", "#", class: "nav-link" %></li>
      </ul>
    </nav>

  <% elsif on_signup_or_login_page %>

    <nav class="navbar-double">
      <div class="logo-container">
        <%= link_to image_tag("logo.png", class: "logo"), root_path %>
      </div>

      <div>
        <ul>
          <li><%= link_to  "Signup", signup_path, id: 'nav-signup-link' %></li>
          <li><%= link_to  "Login", login_path, id: 'nav-login-link' %></li>
        </ul>
      </div>
    </nav>

  <% else %>

    <nav class="navbar-double">
      <div class="logo-container">
        <%= link_to image_tag("logo.png", class: "logo"), root_path %>
      </div>

      <div>
        <ul>
          <li><%= link_to  image_tag("logout.png", class: "logout"), logout_path, method: :post, class: "logout-container"%></li>
          <li><%= link_to  "Profile", user_path(current_user), class: "nav-link" %></li>
          <li><%= link_to  "Zookeepers", zookeepers_path, class: "nav-link" %></li>
          <li><%= link_to  "Guests", user_index_path, class: "nav-link" %></li>
          <li><%= link_to  "Exhibits", exhibits_path, class: "nav-link" %></li>
          <li><%= link_to  "Species", species_index_path, class: "nav-link" %></li>
          <li><%= link_to  "Animals", animals_path, class: "nav-link" %></li>
        </ul>
      </div>
    </nav>

  <% end %>
</header>