<main class="paper-image">

  <%= render partial: "partials/error_messages", locals: { model: exhibit } %>

  <div class="form-container">
    <%= form_for exhibit do |f| %>

      <div class="form-header">
        <h1><%= action %> Exhibit</h1>
      </div>

      <div class="form-input-container">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-input" %>
      </div>

      <div class="form-input-container">
        <%= f.label :biome %>
        <%= f.text_field :biome, class: "form-input" %>
      </div>

      <div class="form-input-container">
        <%= f.label :image_url %>
        <%= f.text_field :image_url, class: "form-input" %>
      </div>

      <div class="form-input-container">
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-input" %>
      </div>

      <div class="form-input-container">
        <%= render partial: 'partials/form_submit', locals: {f: f} %>
      </div>

    <% end %>
  </div>
</main>