<h2><%= action %> Exhibit</h2>

<%= form_for exhibit do |f| %>

  <% if exhibit.errors.any? %>
    <div id="error_message">
      <h2>
        <%= pluralize(exhibit.errors.count, "error") %> prohibited this exhibit from being saved:
      </h2>

      <ul>
      <% exhibit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :biome %>
    <%= f.text_field :biome %>
  </div>

  <div>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <%= f.submit %>

<% end %>