<main class="wavy-image">
  <div class="show-container">

    <div class="show-header">
      <h1><%= @exhibit.name %></h1>
    </div>

    <img src="<%= @exhibit.image_url %>" alt="">

    <h2>Biome: <%= @exhibit.biome %></h2>
    <h3><%= @exhibit.description %></h3>

    <%= link_to  "Animals", exhibit_animals_path(@exhibit) %>
    <%= link_to  "Species", exhibit_species_index_path(@exhibit) %>

    <% if is_admin %>
      <%= link_to  "Edit Exhibit", edit_exhibit_path(@exhibit) %>
      <%= link_to  "Delete Exhibit", exhibit_path(@exhibit), method: :delete %>
    <% end %>
  </div>
</main>
