<main class="paper-image user-form-bg-size">

  <div class="form-container user-form-position">
    <%= form_for(user, url: url) do |f| %>

      <div class="form-header">
        <h1><%= action %> Account</h1>
      </div>

      <%= render partial: "partials/error_messages", locals: { model: user } %>

      <div class="form-input-container">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-input" %>
      </div>

      <%= render partial: 'password_field', locals: {f: f} %>

      <div class="form-input-container">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-input" %>
      </div>

      <div class="form-input-container">
        <%= f.label :birthdate %>
        <%= f.date_field :birthdate, class: "form-input" %>
      </div>

      <div class="form-input-container">
        <%= f.label :funds %>
        <%= f.number_field :funds, class: "form-input" %>
      </div>

      <div class="form-input-container">
        <%= f.label :admin, "Are you a zookeeper?" %>
        <%= f.check_box :admin %>
      </div>

      <div>
        <%= render partial: 'partials/form_submit', locals: {f: f} %>
      </div>

      <%= render  partial: 'partials/omniauth', locals: {phrase: "Signup"} %>
    
    <% end %>
  </div>

</main>