<main class="paper-image">

  <div class="form-container">
    <%= form_for(user, url: url) do |f| %>

      <div class="form-header">
        <h1>Create a New Account</h1>
      </div>

      <%= render partial: "partials/error_messages", locals: { model: user } %>

      <div class="form-input-container">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>

      <div class="form-input-container">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div class="form-input-container">

      <div class="form-input-container">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="form-input-container">
        <%= f.label :birthdate %>
        <%= f.date_field :birthdate %>
      </div>

      <div class="form-input-container">
        <%= f.label :funds %>
        <%= f.number_field :funds %>
      </div>

      <div class="form-input-container">
        <%= f.label :admin, "Are you a zookeeper?" %>
        <%= f.check_box :admin %>
      </div>

      <div>
        <%= f.submit %>
      </div>

      <%= render  partial: 'partials/omniauth', locals: {phrase: "Signup"} %>
    
    <% end %>
  </div>

</main>