<%= form_for animal, url: exhibit_animals_path do |f| %>

  <% if @animal.errors.any? %>
    <div id="error_message">
      <h2>
        <%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:
      </h2>

      <ul>
      <% @animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div>
    <%= f.label :weight %>
    <%= f.number_field :weight %>
  </div>

  <div>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <%= f.hidden_field :exhibit_id, value: exhibit.id %>

  <div>
    <%= f.label :species_id, "Species" %>
    <%= f.select :species_id, options_from_collection_for_select(species, :id, :name) %>
  </div>

  <%= f.submit %>
<% end %>